/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.color-white {
  color: white;
}

.click {
  cursor: pointer;
}

.err {
  color: red;
}
